@model Student

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Student</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="StudentNumber"></label>
            <input asp-for="StudentNumber" class="form-control" />
            <span asp-validation-for="StudentNumber" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="StudentName"></label>
            <input asp-for="StudentName" class="form-control" />
            <span asp-validation-for="StudentName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="StudentSurname"></label>
            <input asp-for="StudentSurname" class="form-control" />
            <span asp-validation-for="StudentSurname" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="BirthDate"></label>
            <input asp-for="BirthDate" class="form-control" />
            <span asp-validation-for="BirthDate" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
        <a asp-controller="Student" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
    </div>
</form>

